

@font-face {
    font-family: 'RegolaMed';
    src: url(fonts/regola-medium.ttf);
  }
  
  @font-face {
    font-family: 'RegolaBook';
    src: url(fonts/regola-book.ttf);
  }
  
  @font-face {
    font-family: 'Regola';
    src: url(fonts/regola-regular.ttf);
  }
  
  @font-face {
    font-family: 'RegolaLight';
    src: url(fonts/regola-light.ttf);
  }

  @font-face {
    font-family: 'RegolaLight';
    src: url(fonts/regola-light.ttf);
  }

  @font-face {
    font-family: 'AvenirLt';
    src: url(fonts/avenir-light.ttf);
  }

  @font-face {
    font-family: 'AvenirLtO';
    src: url(fonts/avenir-lightOblique.ttf);
  }

  @font-face {
    font-family: 'AvenirRoman';
    src: url(fonts/avenir-roman.ttf);
  }

  @font-face {
    font-family: 'AvenirMed';
    src: url(fonts/avenir-medium.ttf);
  }


body {
    font-family: 'AvenirLt',sans-serif;
    font-weight: lighter;
    padding: 1rem;
    margin: 2rem;
    color: rgb(60, 66, 69);
}

header {
    display: flex;
    align-items: baseline;
    /* margin: 2rem; */
    justify-content: space-between;
    font-weight: lighter;
}

h1 {
    font-family: 'RegolaB',sans-serif;
    font-size: xx-large;
    color: #606721;
  }

h2 {
    font-family: 'RegolaB',sans-serif;
    font-size: large;
    color: #606721;
  }

h3 {
    font-family: 'AvenirRoman',sans-serif;
    font-size: medium;
    color: #2A372A;
  }

h4 {
    font-family: 'AvenirLightOb',sans-serif;
    font-size: medium;
    color: #AEABA0;
  }

  h4 {
    font-family: 'AvenirMed',sans-serif;
    font-size: medium;
    color: #AEABA0;
  }


nav {
    font-family: 'Regola',sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: #DEDEDE;
}

.nav-main-item {
    padding-left: 2rem;
    padding-right: 2rem;
    /* removes the underline in the anchor tag */
    text-decoration: none;
    color: #DEDEDE;
    transition: background-color 0.1s ease-out;
    /* font-weight: 400; */
}

.nav-main-item:hover {
    color: #2A372A;
    text-decoration: underline;
}

.nav-main-item:focus {
    text-decoration: none;
}

.nav-main-item:active {
    color: rgb(229, 232, 232);
}

a {
    font-weight: 500;
    color: #2A372A;
    text-decoration: none;

    transition: color 0.1s;

}

a:active,
a:hover,
a:focus {
    color: #606721;
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    font-family: 'Regola',sans-serif;
    padding: 1rem;
    margin: 1rem;
    border: 1.4px solid #DCD3C3;
    border-radius: 3px;
    color: #2A372A;
    background-color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}

button:hover,
button:focus,
button:active {
    background-color:#47431C;
    color: white;
}

.product-item-container img {
    width: 20%;
}

p {
    font-family: 'Spectral', sans-serif;
    font-weight: 100;
    max-width: 40rem;
}

fieldset {
    font-family: 'Regola',sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
    padding: 2rem;
}

label {
    font-family: Regola, sans-serif;

    font-weight: 500;
    margin: 0.5rem;
}

.radio-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
}

.radio-button {
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 500;
    margin: 0.5rem;
}

.product-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-count: 4;
}

.product-item-container {
    flex-direction: column;
    width: 25%;
    text-align: center;
    margin-bottom: 50px;

}

.product-item-container img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}


.payment-form-container {
    display: flex;
    flex-direction: column;
}

.checkout-container {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: column;
}

.item img {
    width: 10%;

}

#interactive-elements img {
    width: 10%;
}

.border{
    border: 1.3px solid rgb(60, 66, 69);
    border-radius: 3px;
    border-style: dashed;
    padding: 1rem;
    margin-top: 1rem;
}
