.products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
}

.product-item {
    width: 10rem;
    margin: 0.3rem;
    background-color: rgb(249, 247, 246);
    border-radius: 0.2rem;
  
}

.description {
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;

}

img {
    width: 10rem;
    border-radius: 0.2rem;
}

.price {
    font-size: small;
    font-family: 'avenirlight_oblique';
    color: #AEABA0;
}