.products-container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
}

.product-item {
    width: 10rem;
    margin: 0.3rem;
    background-color: rgb(249, 247, 246);
    border-radius: 0.2rem;
}

img {
    width: 10rem;
    border-radius: 0.2rem;
}

