.products-container {
    overflow: auto;
    white-space: nowrap;
    width: 93%;
}

.product-item {
    display: inline-block;
    width: 10rem;
    white-space: normal;
}

.description {
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
}

img {
    width: 10rem;
    border-radius: 0.2rem;
}

.price {
    font-size: small;
    font-family: 'avenirlight_oblique';
    color: #AEABA0;
}

