body {
    font-family: 'avenirlight', sans-serif;
    font-weight: lighter;
    color: rgb(60, 66, 69);
}

header {
    font-weight: lighter;
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 300px;
}

#header-container {
    background-image: url('../img/leavesBG.png');
    height: 280px;
    background-size: cover;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1rem;
    /* margin-left: 2rem;
    margin-right: 2rem; */
}

#header-about {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1rem;
    /* margin-left: 2rem;
    margin-right: 2rem; */
}

#content {
    padding: 1rem;
    margin: 2rem;
}

footer {
    background-color: rgb(242, 239, 234);
    height: 5rem;
}

h1 {
    font-family: 'regola_pro_sbook', sans-serif;
    font-size: xx-large;
    color: #606721;
}

h2 { 
    font-family: 'regola_pro_sbook', sans-serif;
    font-size: xx-large;
    color: #606721;
}

h3 {
    font-family: 'regola_pro_sbook', sans-serif;
    font-size: medium;
    /* color: #2A372A; */
    color: #606721;
    margin-bottom: 5rem;
    margin-top: 3rem;
}

h4 {
    font-family: 'avenirlight', sans-serif;
    font-size: medium;
    /* color: #AEABA0; */
    color: #2A372A;
}

nav {
    display: inline-block;
    font-family: 'regola_pro_slight', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: #00000062;
    color: #ffffff;
    border-radius: 6px;
    padding: 0.7rem;
}

.nav-main-item {
    padding-left: 2rem;
    padding-right: 2rem;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.1s ease-out;
}

.nav-main-item:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.nav-main-item:focus {
    text-decoration: none;
}

.nav-main-item:active {
    color: rgb(229, 232, 232);
}

a {
    font-weight: 500;
    color: #2A372A;
    text-decoration: none;
    transition: color 0.1s;
}

a:active,
a:hover,
a:focus {
    color: #606721;
    text-decoration: underline;
}

button {
    font-family: 'regola_pro_slight', sans-serif;
    padding: 1rem;
    /* margin: 1rem; */
    border: 1.4px solid #DCD3C3;
    border-radius: 0.3rem;
    color: #2A372A;
    background-color: white;
    text-decoration: none;
    transition-duration: 0.4s;
    font-size: smaller;
}

button:hover,
button:focus,
button:active {
    background-color: #47431C;
    color: white;
}

.bg {
    /* The image used */
    background-image: url('../img/aboutBG.jpg');

    /* Full height */
    width: 100%;
    height: 1633px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

textarea {
    vertical-align: top;
}

input {
    display: block;
    margin-bottom: 1em;
}

label {
    margin-top: 5rem;
}