#contact {
    padding: 1rem;
    margin-left: 10rem;
    margin-left: 10rem;
}

.contact-header {
    font-weight: lighter;
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 10rem;
}


#contact h3 {
    font-family: 'avenirlight', sans-serif;
    font-size: medium;
    color: #606721;
}

#contact h2 { 
    font-family: 'regola_pro_sbook', sans-serif;
    font-size: 2rem;
    color: #606721;
    margin-bottom: 3.5rem;
}


#contact label{
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green; 
  }